<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259471737523-6qlg7qm106oia5vqo70b60dsq3b5t2n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259471737523-6qlg7qm106oia5vqo70b60dsq3b5t2n4</string>
	<key>API_KEY</key>
	<string>AIzaSyDGHCSv4KlfCSe6IVglm816uqTLW8DSZiM</string>
	<key>GCM_SENDER_ID</key>
	<string>259471737523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reseausocial</string>
	<key>PROJECT_ID</key>
	<string>reseau-social-654a5</string>
	<key>STORAGE_BUCKET</key>
	<string>reseau-social-654a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259471737523:ios:c0d1994e76efe74c2fe6c6</string>
</dict>
</plist>